.fasilitas-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Jarak antar foto */
    justify-content: flex-start; /* Posisikan foto ke kiri */
}

.fasilitas-gallery img {
    width: calc(25% - 15px); /* 4 foto dalam satu baris pada desktop */
    height: auto; /* Tinggi otomatis untuk menjaga proporsi */
}

/* Tambahan untuk responsif */
@media (max-width: 768px) {
    .fasilitas-gallery img {
        width: calc(50% - 15px); /* 2 foto dalam satu baris pada tampilan lebih kecil */
    }
}

@media (max-width: 480px) {
    .fasilitas-gallery img {
        width: 100%; /* 1 foto dalam satu baris pada tampilan sangat kecil */
    }
}
